.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeButton {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.messageTextBox {
    width: 30vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}